@using Microsoft.AspNetCore.Components.Authorization

<AuthorizeView>
    <Authorized>
        <nav class="flex flex-col gap-4 p-4">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                Dashboard
            </NavLink>
            <NavLink class="nav-link" href="activity">
                Log Activity
            </NavLink>
            <NavLink class="nav-link" href="sleep">
                Log Sleep
            </NavLink>
        </nav>
    </Authorized>
</AuthorizeView>